<style>
  table {border-spacing: 0 20px;}
  tr.footer {font-weight: bold;}
  input.shares {width: 50px;}
  #content {margin: 50px;}

  .row-controls {text-align: center;}
  .row-controls form {margin-bottom: 0px;}
  .trade-button {margin-left: 20px;}
  .recommend-control {display: block;}
  .increase {color: green;}
  .decrease {color: red;}
</style>