body {
  margin: 0px; 
  background-image: url("../images/background.jpg");
  min-height: 1000px;
}

#welcome {
  padding: 10px;
  margin: 10px;
  background: #989898;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #989898, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 96%;
  text-align: center;
  vertical-align: top;
}

#equityButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 96%;
  text-align: center;
  vertical-align: top;
}

#showEquity {
  padding: 10px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 96%;
  text-align: center;
  display: none;
  vertical-align: top;
}

#purchasingformButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width:46%;
  text-align: center;
  vertical-align: top;
}

#showForm {
  padding: 10px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: left;
  vertical-align: top;
}

#sellingformButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#showsellForm {
  padding: 10px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: left;
  vertical-align: top;
}

#portfolioButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#showPortfolio {
  padding: 10px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: left;
  vertical-align: top;
}

#historyButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#showHistory {
  padding: 10px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: left;
  vertical-align: top;
}

#recommendButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#postButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#websiteButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;
}

#forumButton {
  position: relative;

  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 46%;
  text-align: center;
  vertical-align: top;


  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

#forumButton:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}

#submit {
  cursor:pointer;
  padding:5px 25px; 
  background:#35b128; 
  border:1px solid #33842a;  
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  color:#f3f3f3;
  font-size:1.1em;
}

#submit:hover, #submit:focus{
  background-color :#399630; 
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75); 
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

input {
  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border:1px solid rgba(0,0,0, 0.2);
}

input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  border:1px solid rgba(0,0,255, 0.8); 
}