{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;	
}

img {
  vertical-align: middle;
}

body {
  margin: 0px; 
  background-color:green;
  background-image: url("../images/lb.jpg");
  min-height: 1000px;
}

#equityButton,#showEquity {
   padding: 20px;
   margin: 12px;
   background: #ff7f50;
   color: #fff;
   font-size: 20px;
   font-weight: bolder;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: bolder;
}

body {
  padding: 15px;
}

#showEquity {
  padding:50px;
  display:none;
}

#purchasingformButton, #showForm {
   padding: 20px;
   margin: 12px;
   background: #ff7f50;
   color: #fff;
   font-size: 20px;
   font-weight: normal;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
}

body {
  padding: 15px;
}

#showForm {
  text-align:left;
  padding:50px;
  display:none;
}

#portfolioButton, #showPortfolio {
  padding: 20px;
   margin: 12px;
   background: #ff7f50;
   color: #fff;
   font-size: 20px;
   font-weight: normal;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
}

body {
  padding: 15px;
}

#showPortfolio {
  padding:50px;
  display:none;
}

#historyButton, #showHistory{
  padding: 20px;
   margin: 12px;
   background: #ff7f50;
   color: #fff;
   font-size: 20px;
   font-weight: 900;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
   
   .container{
	width:900px;
	margin: 0 auto;
	overflow:hidden;
}

.main-section{
	background-color:#CDEBC4;
	color:#6D8B64;
	width:520px;
	float:left;
	height:500px;
}

.sidebar{
	background-color:#ccc;
	width:350px;
	float:right;
	height:400px;
}

.container p{
	padding-top:100px;
	text-align:center;
}

.note{
	text-align:center;
	padding-top:60px;
	font-style:italic;
}

/* This simple media query makes the column layout
   linear on smaller screens */

@media (max-width:900px){

	.container{
		width:100%;
	}

	.main-section, .sidebar{
		width:auto;
		margin-bottom:20px;
		float:none;
	}

}
}

body {
  padding: 15px;
}

#showHistory {
  padding:50px;
  display:none;
}

#recommendButton {
  padding: 20px;
   margin: 12px;
   background: #ff7f50;
   color: #fff;
   font-size: 20px;
   font-weight: 900;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   font-weight: normal;
}

body {
  padding: 15px;
}
