body {
  margin: 0px; 
  background-image: url("../images/background.jpg");
  min-height: 1000px;
}

#welcome {
  padding: 5px;
  margin: 10px;
  background: #989898;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #989898, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 98%;
  text-align: center;
}

#equityButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 98%;
  text-align: center;
}

#showEquity {
  padding: 5px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 98%;
  text-align: center;
  display:none;
}

#purchasingformButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width:45%;
  text-align: center;
}

#showForm {
  padding: 5px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 45%;
  text-align: left;
  display: none;
}

#sellingformButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 45%;
  text-align: center;
}

#showsellForm {
  padding: 5px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 45%;
  text-align: left;
  display: none;
}

#portfolioButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 45%;
  text-align: center;
}

#showPortfolio {
  padding: 5px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 45%;
  text-align: left;
  display: none;
}

#historyButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 45%;
  text-align: center;
}

#showHistory {
  padding: 5px;
  margin: 10px;	
  background: #FFBD59;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFBD59, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  width: 45%;
  text-align: left;
  display: none;
}

#recommendButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 45%;
  text-align: center;
}

#postButton {
  padding: 10px;
  margin: 10px;
  background: #FFA500;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FFA500, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 45%;
  text-align: center;
}
